#root {
  margin: 0;
  text-align: center;
}

#main-container {
  display: flex;
  
}

form {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: white;
  margin: 16px;
}

#primary-btn, form button {
  background-color: #fcb6c6;
  color: #04283d;
  font-weight: bold;
  border-style: none;
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  margin-top: 8px;
}
